document
build
_build
.vs
x64
workspace
thirdparty/*/include
thirdparty/*/lib
thirdparty/*/bin
thirdparty/*/doc
thirdparty/*/share
thirdparty/*/GL/
thirdparty/*/dx11/
ex_include/
snapshot/
.pdb
.user
tmp/